name: goolemapuse
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.8.1


dependencies:
  flutter:
    sdk: flutter


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8
  google_maps_flutter: ^2.13.1
  geolocator: ^14.0.2
  custom_info_window: ^1.0.1
  flutter_screenutil: ^5.9.3
  bloc: ^9.0.0
  flutter_bloc: ^9.1.1
  supabase: ^2.9.0
  supabase_flutter: ^2.10.0
  smooth_page_indicator: ^1.2.1
  another_carousel_pro: ^1.0.2
  intl: 0.20.2
  firebase_core: ^4.1.0
  firebase_auth: ^6.0.2
  image_picker: ^1.2.0
  url_launcher: ^6.3.2
  google_sign_in: ^6.1.5
  cherry_toast: ^1.13.0
  cloud_firestore: ^6.1.0
  flutter_facebook_auth: ^7.0.0
  lottie: ^3.3.2
  zego_zim: ^2.13.0     # For realtime chat
  zego_uikit_prebuilt_call: ^4.0.0
  zego_zimkit: ^1.19.6
dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/images/plus2.png
    - assets/images/cat_1.png
    - assets/images/cat_2.png
    - assets/images/cat_3.png
    - assets/images/cat_4.png
    - assets/images/cat_5.png
    - assets/images/profile.png
    - assets/images/wifi.png

  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
